In [170]:
!pip install gmplot
import gmplot
import pandas as pd
import numpy as np

Requirement already satisfied: gmplot in /usr/local/lib/python3.6/dist-packages (1.4.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from gmplot) (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->gmplot) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->gmplot) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->gmplot) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->gmplot) (2020.6.20)

In [171]:
url ='https://docs.google.com/spreadsheets/d/1iYHApNr4LjZWybk2O5tKI4NgxQX_0mG0j-KXId2r47A/export?format=csv&gid=0'

df = pd.read_csv(url)
df['Subjects (max 3 items)']= df['Subjects (max 3 items)'].str.lower()

In [168]:
df

           Name  ...                        Can help with (max 3 items)
0     Francesco  ...                      editing, IT support, graphics
1        Gianni  ...         IT support and maintenance, AI, statistics
2      Emanuele  ...  Festivaletteratura, organization, discussion o...
3        Fulvio  ...         editing, content discussion and production
4      Riccardo  ...                                 Writing, workshops
5       Lavinia  ...                   IT support, artistic experiments
6   Maria Elena  ...                              workshops, interviews
7    Elena Alma  ...              communication, discussion of contents
8          Sara  ...                     radio and podcasts, interviews
9        Danilo  ...                         IT support and maintenance
10    Giancarlo  ...                        Festivaletteratura, writing
11       Mattia  ...                    Writing, discussion of contents
12    Francesco  ...                              infographics, fanzine
13       Matteo  ...                  organization, IT support, writing

[14 rows x 6 columns]

In [ ]:
subj = df['Subjects (max 3 items)']
all_subjs = [s.split(',') for s in subj]
all_subjs = [s.strip() for l in all_subjs for s in l]
all_subjs = " ".join([s.replace(' ', '_').lower() for s in all_subjs])

In [ ]:
all_subjs

In [ ]:
from wordcloud import WordCloud, STOPWORDS 
import matplotlib.pyplot as plt
stopwords = set(STOPWORDS)
wordcloud = WordCloud(width = 1600, height = 1600, 
                background_color ='white', 
                stopwords = stopwords, 
                min_font_size = 10).generate(all_subjs) 
  
# plot the WordCloud image                        
plt.figure(figsize = (8, 8), facecolor = None) 
plt.imshow(wordcloud) 
plt.axis("off") 
plt.tight_layout(pad = 0) 
  
plt.show()

In [ ]:
import collections

In [ ]:
counts = collections.Counter(all_subjs.split())
counts

In [ ]:
topics = counts.keys()
net = {}
import networkx as nx
G = nx.Graph()

for t in topics:

  # print(t)
  G.add_node(t)
  test = df['Subjects (max 3 items)'].str.contains(t.replace("_"," "))
  for p in df['Surname'][test]:
    # print("    "+p, end=" ")
    connections = df['Subjects (max 3 items)'][df['Surname']==p].iloc[0].split(',')
 
    for c in connections:
      c = c.strip()
      key = c.replace(' ','_')
      # print("->",key)
      if key != t:
        if G.has_edge(t,key)==False or G.has_edge(key,t)==False:
          G.add_edge(t,key,name=p)
        else:
          oldname = G.edges[t,key]['name']
          if p in oldname:
            pass
          else:
            print(G.edges[t,key]['name'])
            G.edges[t,key]['name'] = G.edges[t,key]['name'] + "/\n" + p
            print(G.edges[t,key]['name'])
  # print("\n")

In [ ]:
plt.figure(figsize=(9,9 ),dpi=120)
pos=nx.shell_layout(G)
sizes = np.array([dict(counts)[f] for f in list(G.nodes)])*500
nx.draw(G,pos=pos, with_labels=True,  
        font_color='#797979', 
        font_weight='bold',
        font_size=8,
        node_size=sizes,
        node_color=sizes, cmap = plt.cm.spring, alpha=0.75)
nx.draw_networkx_edge_labels(G,pos=pos, edge_labels=nx.get_edge_attributes(G,'name'), font_size=7);
xs = [xx for xx,yy in pos.values()]
ys = [yy for xx,yy in pos.values()]
plt.xlim(1.5*min(xs),1.5*max(xs));
plt.ylim(1.5*min(ys),1.5*max(ys));

In [175]:
mymap = gmplot.GoogleMapPlotter(
    100,100,
    16)
mymap.draw('my_gm_plot.html')
import os
os.system('my_gm_plot.html')

32512